<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebase Labs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-brand mb-0">
            <a href="/" class="invisible-link">
              <h2>Rebase Labs - Listagem de Exames</h2>
            </a>
          </div>
        </div>
    </header>

    <div id="pagination-controls-top" class="pagination-controls mb-4"></div>

    <% if @tests.length > 0 %>
      <div id="test-list" class="container mt-4">
        <% @tests.each do |result| %>
          <div class="result-item">
            <div class="card result-card" style="padding: 40px;">
              <div class="row">
                <div class="col-md-4">
                  <h5><strong>Data do Exame:</strong></h5>
                  <p><%= result['result_date'] %></p>
                  <h5><strong>Token:</strong></h5>
                  <p><%= result['result_token'] %></p>
                </div>
                <div class="col-md-4">
                  <h5><strong>Paciente:</strong></h5>
                  <p><strong>Nome: </strong><%= result['name'] %></p>
                  <p><strong>CPF: </strong><%= result['cpf'] %></p>
                  <p><strong>E-mail: </strong><%= result['email'] %></p>
                  <p><strong>Nasc.: </strong><%= result['birthday'] %></p>
                </div>
                <div class="col-md-4">
                  <h5><strong>Médico :</strong></h5>
                  <p><strong>Nome: </strong><%= result['doctor']['name'] %></p>
                  <p><strong>CRM: </strong><%= result['doctor']['crm'] %>/<%= result['doctor']['crm_state'] %></p>
                </div>
              </div>
              <hr>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-left">Exame</th>
                    <th class="text-center">Resultado</th>
                    <th class="text-center">Limites</th>
                  </tr>
                </thead>
                <tbody>
                  <% result['tests'].each do |test| %>
                    <tr>
                      <td class="text-left"><%= test['type'] %></td>
                      <td class="text-center"><%= test['result'] %></td>
                      <td class="text-center"><%= test['limits'] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h5 class="text-center">Nenhum exame encontrado.</h5>
    <% end %>

    <div id="pagination-controls-bottom" class="pagination-controls mb-4"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/pagination.js"></script>
  </body>
</html>